@charset 'UTF-8';

 *
 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
 }

 body, input, textarea
 {
  font-family: Helvetica, sans-serif;
  line-height: 1.85em;
  color: #f2aa32;
  font-weight: 300;
 }

 a
 {
  color: #f2aa32;
  text-decoration: underline;
  -moz-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
 }
 
  a:hover
  {
   color: #EBE6E3 !important;
  }

  a img
  {
   border: 0;
  }

 strong, b
 {
  font-weight: 600;
 }
 
 h1, h2, h3, h4, h5, h6
 {
  color: #EBE6E3;
 }
 
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
  {
   text-decoration: none;
   color: inherit;
  }
 
 h2, h3, h4, h5, h6
 {
  font-weight: 700;
 }
 
 h1
 {
  font-weight: 300;
 }
 
  h1 strong
  {
   font-weight: 700;
  }
 
 em, i
 {
  font-style: italic;
 }
 

 br.clear
 {
  clear: both;
 }

 hr
 {
  border: 0;
  border-top: solid 1px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.1);
  height: 1px;
  margin: 3em 0 4em 0;
 }
 
 p, ul, ol, dl, table
 {
  margin-bottom: 2em;
 }
 
 section,
 article
 {
  margin-bottom: 3em;
 }
 
 section > :last-child,
 article > :last-child
 {
  margin-bottom: 0;
 }

 section:last-child,
 article:last-child
 {
  margin-bottom: 0;
 }

 .image
 {
  display: inline-block;
 }
 
  .image img
  {
   display: block;
   width: 100%;
  }

 .image-full
 {
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
 }
 
 .image-left
 {
  float: left;
  margin: 0 2em 2em 0;
 }
 
 .image-centered
 {
  display: block;
  margin: 0 0 2em 0;
 }

  .image-centered img
  {
   margin: 0 auto;
   width: auto;
  }
 
 .button
 {
  position: relative;
  display: inline-block;
  color: #f2aa32;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  background: #3f5127;
 }


  .button:hover
  {
   background-color: #3f5127;
   color: #f2aa32;
  }
  
 .button2
 {
  color: #3f5127;
  background: #f2aa32;
 }

 .button2:hover
 {
  color: #3f5127;
  background: #f2aa32;
 }
 
   
 .box
 {
  background: #f2aa32;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.15), 0px 2px 3px 0px rgba(0,0,0,0.1);
  color: #3f5127;
  text-align: center;
 }

  .box .image-full
  {
   position: relative;
  }



/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

 .wrapper
 {
  box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.05), inset 0px 2px 3px 0px rgba(0,0,0,0.1);
 }

 .wrapper-first
 {
  box-shadow: none;
 }

 .wrapper-style1
 {
  background-image: none;
  background-color: #f2aa32;
 }
 
 .wrapper-style2
 {
  background-image: none;
  background-color: #3f5127;
 }

 .wrapper-style1 h1,
 .wrapper-style1
  {
   color: #3f5127;
  }
  
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

 #nav
 {
  background-color: #282828;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  cursor: default;
 }
 
  #nav ul
  {
   margin-bottom: 0;
  }
 
  #nav li
  {
   display: inline-block;
  }
  
  #nav a
  {
   position: relative;
   display: block;
   color: #fff;
   text-decoration: none;
   outline: 0;
  }
  
   #nav a:hover
   {
    color: #fff !important;
   }
   
   #nav a.active:before
   {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.6em;
    left: 50%;
    margin-left: -0.75em;
    border-left: solid 0.75em transparent;
    border-right: solid 0.75em transparent;
    border-top: solid 0.6em #282828;
   }
   
/*********************************************************************************/
/* Articles                                                                      */
/*********************************************************************************/

 #top
 {
 }

  #top .me
  {
   border-radius: 50%;
   overflow: hidden;
  }

  #top p
  {
  }
 
   #top p a
   {
    color: inherit;
   }

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

 #copyright
 {
  color: #EBE6E3;
 }
 
  #copyright a
  {
   color: inherit;

   -moz-transition: color .2s ease-in-out;
   -webkit-transition: color .2s ease-in-out;
   -o-transition: color .2s ease-in-out;
   -ms-transition: color .2s ease-in-out;
   transition: color .2s ease-in-out;
  }
  
  #copyright a:hover
  {
   color: #EBE6E3;
  }
